<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Salon Locks & Lashes This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
<ion-header class="ion-no-border">
  <ion-toolbar mode="md" color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="onBack()" color="light">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Languages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="settings-content">

    <ion-label class="lbl-title">Suggested</ion-label>

    <ion-radio-group name="auto" value="us">
      <ion-item lines="none" class="content-item">
        <ion-label class="lbl">English (US)</ion-label>
        <ion-radio value="us" mode="md"></ion-radio>
      </ion-item>
      <ion-item lines="none" class="content-item">
        <ion-label class="lbl">English (UK)</ion-label>
        <ion-radio value="uk" mode="md"></ion-radio>
      </ion-item>

      <div class="breaker"></div>

      <ion-label class="lbl-title">Language</ion-label>

      <ion-item lines="none" class="content-item">
        <ion-label class="lbl">Hindi</ion-label>
        <ion-radio value="hi" mode="md"></ion-radio>
      </ion-item>
      <ion-item lines="none" class="content-item">
        <ion-label class="lbl">Spanish</ion-label>
        <ion-radio value="sp" mode="md"></ion-radio>
      </ion-item>
      <ion-item lines="none" class="content-item">
        <ion-label class="lbl">French</ion-label>
        <ion-radio value="fr" mode="md"></ion-radio>
      </ion-item>
      <ion-item lines="none" class="content-item">
        <ion-label class="lbl">Arabic</ion-label>
        <ion-radio value="ar" mode="md"></ion-radio>
      </ion-item>
      <ion-item lines="none" class="content-item">
        <ion-label class="lbl">Gujarati</ion-label>
        <ion-radio value="gj" mode="md"></ion-radio>
      </ion-item>
      <ion-item lines="none" class="content-item">
        <ion-label class="lbl">Magahi</ion-label>
        <ion-radio value="Magahi" mode="md"></ion-radio>
      </ion-item>
      <ion-item lines="none" class="content-item">
        <ion-label class="lbl">Telugu</ion-label>
        <ion-radio value="Telugu" mode="md"></ion-radio>
      </ion-item>
      <ion-item lines="none" class="content-item">
        <ion-label class="lbl">Bhojpuri</ion-label>
        <ion-radio value="Bhojpuri" mode="md"></ion-radio>
      </ion-item>
      <ion-item lines="none" class="content-item">
        <ion-label class="lbl">Tamil</ion-label>
        <ion-radio value="Tamil" mode="md"></ion-radio>
      </ion-item>
      <ion-item lines="none" class="content-item">
        <ion-label class="lbl">Bengali</ion-label>
        <ion-radio value="Bengali" mode="md"></ion-radio>
      </ion-item>
    </ion-radio-group>

  </div>
</ion-content>