<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Salon Locks & Lashes This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
<ion-header class="ion-no-border">
  <ion-toolbar mode="md" color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="onBack()" color="light">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="settings-content">
    <ion-item lines="none" class="content-item">
      <ion-icon slot="start" name="image-outline" color="dark"></ion-icon>
      <ion-label class="lbl">Conversation Tones</ion-label>
      <ion-toggle mode="md" slot="end"></ion-toggle>
    </ion-item>

    <div class="breaker"></div>

    <ion-label class="lbl-title">Messages</ion-label>

    <ion-item lines="none" class="content-item">
      <ion-label class="lbl">Notification Tones</ion-label>
      <ion-select value="peperoni" placeholder="Notification Tones">
        <ion-select-option value="peperoni">Default</ion-select-option>
        <ion-select-option value="hawaii">Medium</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="none" class="content-item">
      <ion-label class="lbl">Vibrate</ion-label>
      <ion-select value="peperoni" placeholder="Vibrate">
        <ion-select-option value="peperoni">Default</ion-select-option>
        <ion-select-option value="hawaii">Medium</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="none" class="content-item">
      <ion-label class="lbl">Reaction Notifications</ion-label>
      <ion-toggle mode="md" slot="end"></ion-toggle>
    </ion-item>

    <ion-label class="lbl-title">Groups</ion-label>

    <ion-item lines="none" class="content-item">
      <ion-label class="lbl">Notification Tones</ion-label>
      <ion-select value="peperoni" placeholder="Vibrate">
        <ion-select-option value="peperoni">Default</ion-select-option>
        <ion-select-option value="hawaii">Medium</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none" class="content-item">
      <ion-label class="lbl">Vibrate</ion-label>
      <ion-toggle mode="md" slot="end"></ion-toggle>
    </ion-item>
    <ion-item lines="none" class="content-item">
      <ion-label class="lbl">Reaction Notifications</ion-label>
      <ion-toggle mode="md" slot="end"></ion-toggle>
    </ion-item>

    <ion-label class="lbl-title">Calls</ion-label>

    <ion-item lines="none" class="content-item">
      <ion-label class="lbl">Notification Tones</ion-label>
      <ion-select value="peperoni" placeholder="Vibrate">
        <ion-select-option value="peperoni">Default</ion-select-option>
        <ion-select-option value="hawaii">Medium</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none" class="content-item">
      <ion-label class="lbl">Vibrate</ion-label>
      <ion-toggle mode="md" slot="end"></ion-toggle>
    </ion-item>
  </div>
</ion-content>