<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Salon Locks & Lashes This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" name="cut-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="explore">
      <ion-icon aria-hidden="true" name="navigate-circle-outline"></ion-icon>
      <ion-label>Explore</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bookings">
      <ion-icon aria-hidden="true" name="reader-outline"></ion-icon>
      <ion-label>Bookings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inbox">
      <ion-icon aria-hidden="true" name="chatbox-ellipses-outline"></ion-icon>
      <ion-label>Inbox</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>