<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Salon Locks & Lashes This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
<ion-header class="ion-no-border">
  <ion-toolbar color="primary" mode="md">
    <ion-buttons slot="start">
      <ion-button (click)="onBack()" color="light">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>My Bookmarks</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light">
        <ion-icon slot="icon-only" name="ellipsis-horizontal-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="home_screen">

    <div class="segment-content">
      <ion-button expand="block" shape="round" color="primary" size="small">
        All
      </ion-button>
      <ion-button expand="block" shape="round" fill="outline" color="primary" size="small"
        *ngFor="let item of util.categories;">
        {{item.name}}
      </ion-button>
    </div>

    <ion-row class="salon-list" *ngFor="let item of util.salonList;let i = index;">
      <ion-col size="3" (click)="onSalonInfo(i)">
        <div class="cover" [ngStyle]="{'background-image': 'url('+item.cover+')'}"></div>
      </ion-col>
      <ion-col size="7" (click)="onSalonInfo(i)">
        <div class="name-content">
          <ion-label class="title">{{item.name}}</ion-label>
          <ion-label class="address">{{item.address}}</ion-label>
          <div class="other-info">
            <div class="icon">
              <ion-icon name="location" color="primary"></ion-icon>
              <ion-label class="title">{{item.rate}}</ion-label>
            </div>
            <div class="space"></div>
            <div class="icon">
              <ion-icon name="star" color="primary"></ion-icon>
              <ion-label class="title">{{item.distance}}</ion-label>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col size="1">
        <ion-button fill="clear" size="small" (click)="presentModal(i)">
          <ion-icon slot="icon-only" name="bookmark" color="primary"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>